<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Grocery</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">



  <link rel="icon" herf="public/img/favicon_mia.ico" />

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


  <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">



    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand">First Choice Grocery</p>

        </div>

        <ul class="nav navbar-nav navbar-right">

          <li id="home" class="nav-item">
            <a href="/"> Home </a>
          </li>

          <li>
            <a href="/products"> Products </a>
          </li>

          <li id="contact" class="nav-item">
            <a href="/contact"> Contact </a>
          </li>


          <li id="cart" class="nav-item">
            <a href="/cart"> Cart </a>
          </li>

          <li id="register" class="nav-item">
            <a href="/register"> Register </a>
          </li>

          <li id="login" class="nav-item">
            <a href="/login"> LogIn </a>
          </li>
      </ul>

      </div>
    </nav>
  </head>

<body>




<!-- <ul class="nav navbar-nav">

  <li id="home"><a href="/">HOME</a></li>

  <li id="category"><a href="/category">CATEGORY</a></li>

  <li id="contact"><a href="/contact">CONTACT US</a></li>


</ul>
<ul class="nav navbar-nav navbar-right">

<li id="cart"><a href="/cart">CART</a></li>
<li id="register"><a href="/register">REGISTER</a></li>
<li id="login"><a href="/login">LOG IN</a></li>
</ul> -->
