<%- include('partials/header') %>

  <!--Fruits-->
  <section id="fruit" class="fruit">

    <div>
      <h2 id="Fruits">Current Available Fruits</h2>
    </div>

    <div class="card-deck">


      <article class="card">
        <div class="card-title">
          <h4>Banana</h4>
        </div>
        <img class="card-img-top" src="/img/Banana.jpg" alt="Banana-Fruits">
        <div class="card-body">
          <a href="/cart/banana" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/banana">Details</a>
        </div>

      </article>

      <article class="card">
        <div class="card-title">
          <h4>Cherry</h4>
        </div>
        <img class="card-img-top" src="/img/Cherry.jpg" alt="Cherry-Fruits">
        <div class="card-body">
          <a href="/cart/cherry" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/cherry">Details</a>
        </div>
      </article>

      <article class="card">
        <div class="card-title">
          <h4>Green Grape</h4>
        </div>
        <img class="card-img-top" src="/img/Green Grape.jpg" alt="Green Grape-Fruits">
        <div class="card-body">
          <a href="/cart/greengrape" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/greengrape">Details</a>
        </div>
      </article>

    </div>

    <div class="card-deck">
      <article class="card">
        <div class="card-title">
          <h4>Orange</h4>
        </div>
        <img class="card-img-top" src="/img/Orange.jpg" alt="Orange-Fruits">
        <div class="card-body">
          <a href="/cart/orange" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/orange">Details</a>
        </div>

      </article>

      <article class="card">
        <div class="card-title">
          <h4>Passionfruit</h4>
        </div>
        <img class="card-img-top" src="/img/Passionfruit.jpg" alt="Passionfruit-Fruits">
        <div class="card-body">
          <a href="/cart/passionfruit" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/passionfruit">Details</a>
        </div>
      </article>

      <article class="card">
        <div class="card-title">
          <h4>Red Grape</h4>
        </div>
        <img class="card-img-top" src="/img/Red Grape.jpg" alt="Red Grape-Fruits">
        <div class="card-body">
          <a href="/cart/redgrape" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/redgrape">Details</a>
        </div>
      </article>
    </div>


  </section>

  <!-- Vegetables -->
  <section id="vegetable" class="vegetable">
    <div>
      <h2 id="Fruits">Current Available Vegetables</h2>
    </div>

    <div class="card-deck">

      <article class="card">
        <div class="card-title">
          <h4>Beans Sprout</h4>
        </div>
        <img class="card-img-top" src="/img/Beans Sprout.jpeg" alt="Beans Sprout-Vegetables">
        <div class="card-body">
          <a href="/cart/beansprots" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/beansprots">Details</a>
        </div>

      </article>

      <article class="card">
        <div class="card-title">
          <h4>Pok Choy</h4>
        </div>
        <img class="card-img-top" src="/img/Chinese Pok Choy.jpg" alt="Chinese Pok Choy-Vegetables">
        <div class="card-body">
          <div class="card-body">
            <a href="/cart/pokchoy" type="button" class="btn btn-secondary"> Add to Cart ></a>
            <a href="all-products/pokchoy">Details</a>
          </div>

      </article>

      <article class="card">
        <div class="card-title">
          <h4>Chives</h4>
        </div>
        <img class="card-img-top" src="/img/Chives.jpg" alt="Chives-Vegetables">
        <div class="card-body">
          <a href="/cart/chives" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/chives">Details</a>
        </div>
      </article>

    </div>

    <div class="card-deck">

      <article class="card">
        <div class="card-title">
          <h4>Cucumber</h4>
        </div>
        <img class="card-img-top" src="/img/Cucumber.jpg" alt="Cucumber-Vegetables">
        <div class="card-body">
          <a href="/cart/cucumber" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/cucumber">Details</a>
        </div>

      </article>

      <article class="card">
        <div class="card-title">
          <h4>Lettuce</h4>
        </div>
        <img class="card-img-top" src="/img/Lettuce.jpeg" alt="Lettuce-Vegetables">
        <div class="card-body">
          <a href="/cart/lettuce" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/lettuce">Details</a>
        </div>
      </article>

      <article class="card">
        <div class="card-title">
          <h4>Potato</h4>
        </div>
        <img class="card-img-top" src="/img/Potato.jpg" alt="Potato-Vegetables">
        <div class="card-body">
          <a href="/cart/potato" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/potato">Details</a>
        </div>
      </article>
    </div>


  </section>

  <!-- Meat -->
  <section id="meat" class="meat">
    <div>
      <h2 id="Fruits">Current Available Meat</h2>
    </div>

    <div class="card-deck">

      <article class="card">
        <div class="card-title">
          <h4>Beef Rib Finger</h4>
        </div>
        <img class="card-img-top" src="/img/Beef_Rib_Finger.jpg" alt="Beef Rib Finger-Meat">
        <div class="card-body">
          <a href="/cart/beefribfinger" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/chicken">Details</a>
        </div>

      </article>

      <article class="card">
        <div class="card-title">
          <h4>Chicken Breast</h4>
        </div>
        <img class="card-img-top" src="/img/Chicken Breast.jpg" alt="Chicken Breast-Meat">
        <div class="card-body">
          <a href="/cart/chickenbreast" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/chickenbreast">Details</a>
        </div>

      </article>

      <article class="card">
        <div class="card-title">
          <h4>Lamb Cutlets</h4>
        </div>
        <img class="card-img-top" src="/img/Lamb_Cutlets.jpg" alt="Lamb Cutlets-Meat">
        <div class="card-body">
          <a href="/cart/lambcutlet" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/lambcutlet">Details</a>
        </div>
      </article>

    </div>

    <div class="card-deck">

      <article class="card">
        <div class="card-title">
          <h4>Whole Duck</h4>
        </div>
        <img class="card-img-top" src="/img/Whole Duck.jpg" alt="Whole Duck-Meat">
        <div class="card-body">
          <a href="/cart/duck" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/duck">Details</a>
        </div>

      </article>

      <article class="card">
        <div class="card-title">
          <h4>Pork Belly</h4>
        </div>
        <img class="card-img-top" src="/img/Pork Belly.jpg" alt="Pork Belly-Meat">
        <div class="card-body">
          <a href="/cart/porkbelly" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/porkbelly">Details</a>
        </div>
      </article>

      <article class="card">
        <div class="card-title">
          <h4>Chicken</h4>
        </div>
        <img class="card-img-top" src="/img/Whole Chicken.jpg" alt="Chicken-Meat">
        <div class="card-body">
          <a href="/cart/chicken" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/chicken">Details</a>
        </div>
      </article>
    </div>


  </section>

<%- include('partials/footer') %>
