<%- include('partials/header') %>


<!--Fruits-->
<section id="fruit" class="fruit">

  <div>
    <h2 id="Fruits">Current Available Fruits</h2>
  </div>

  <div class="card-deck">


    <article class="card">
      <div class="card-title">
        <h4>Banana</h4>
      </div>
      <img class="card-img-top" src="/img/Banana.jpg" alt="Banana-Fruits">
      <div class="card-body">
        <a href="/cart/banana" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/banana">Details</a>
      </div>

    </article>

    <article class="card">
      <div class="card-title">
        <h4>Cherry</h4>
      </div>
      <img class="card-img-top" src="/img/Cherry.jpg" alt="Cherry-Fruits">
      <div class="card-body">
        <a href="/cart/cherry" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/cherry">Details</a>
      </div>
    </article>

    <article class="card">
      <div class="card-title">
        <h4>Green Grape</h4>
      </div>
      <img class="card-img-top" src="/img/Green Grape.jpg" alt="Green Grape-Fruits">
      <div class="card-body">
        <a href="/cart/greengrape" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/greengrape">Details</a>
      </div>
    </article>

  </div>

  <div class="card-deck">
    <article class="card">
      <div class="card-title">
        <h4>Orange</h4>
      </div>
      <img class="card-img-top" src="/img/Orange.jpg" alt="Orange-Fruits">
      <div class="card-body">
        <a href="/cart/orange" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/orange">Details</a>
      </div>

    </article>

    <article class="card">
      <div class="card-title">
        <h4>Passionfruit</h4>
      </div>
      <img class="card-img-top" src="/img/Passionfruit.jpg" alt="Passionfruit-Fruits">
      <div class="card-body">
        <a href="/cart/passionfruit" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/passionfruit">Details</a>
      </div>
    </article>

    <article class="card">
      <div class="card-title">
        <h4>Red Grape</h4>
      </div>
      <img class="card-img-top" src="/img/Red Grape.jpg" alt="Red Grape-Fruits">
      <div class="card-body">
        <a href="/cart/redgrape" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/redgrape">Details</a>
      </div>
    </article>
  </div>


</section>


<%- include('partials/footer') %>
