<%- include('partials/header') %>

<!-- Meat -->
<section id="meat" class="meat">
  <div>
    <h2 id="Fruits">Current Available Meat</h2>
  </div>

  <div class="card-deck">

    <article class="card">
      <div class="card-title">
        <h4>Beef Rib Finger</h4>
      </div>
      <img class="card-img-top" src="/img/Beef_Rib_Finger.jpg" alt="Beef Rib Finger-Meat">
      <div class="card-body">
        <a href="/cart/beefribfinger" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/chicken">Details</a>
      </div>

    </article>

    <article class="card">
      <div class="card-title">
        <h4>Chicken Breast</h4>
      </div>
      <img class="card-img-top" src="/img/Chicken Breast.jpg" alt="Chicken Breast-Meat">
      <div class="card-body">
        <a href="/cart/chickenbreast" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/chickenbreast">Details</a>
      </div>

    </article>

    <article class="card">
      <div class="card-title">
        <h4>Lamb Cutlets</h4>
      </div>
      <img class="card-img-top" src="/img/Lamb_Cutlets.jpg" alt="Lamb Cutlets-Meat">
      <div class="card-body">
        <a href="/cart/lambcutlet" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/lambcutlet">Details</a>
      </div>
    </article>

  </div>

  <div class="card-deck">

    <article class="card">
      <div class="card-title">
        <h4>Whole Duck</h4>
      </div>
      <img class="card-img-top" src="/img/Whole Duck.jpg" alt="Whole Duck-Meat">
      <div class="card-body">
        <a href="/cart/duck" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/duck">Details</a>
      </div>

    </article>

    <article class="card">
      <div class="card-title">
        <h4>Pork Belly</h4>
      </div>
      <img class="card-img-top" src="/img/Pork Belly.jpg" alt="Pork Belly-Meat">
      <div class="card-body">
        <a href="/cart/porkbelly" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/porkbelly">Details</a>
      </div>
    </article>

    <article class="card">
      <div class="card-title">
        <h4>Chicken</h4>
      </div>
      <img class="card-img-top" src="/img/Whole Chicken.jpg" alt="Chicken-Meat">
      <div class="card-body">
        <a href="/cart/chicken" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/chicken">Details</a>
      </div>
    </article>
  </div>


</section>


<%- include('partials/footer') %>
