<%- include('partials/header') %>

<!-- Vegetables -->
<section id="vegetable" class="vegetable">
  <div>
    <h2 id="Fruits">Current Available Vegetables</h2>
  </div>

  <div class="card-deck">

    <article class="card">
      <div class="card-title">
        <h4>Beans Sprout</h4>
      </div>
      <img class="card-img-top" src="/img/Beans Sprout.jpeg" alt="Beans Sprout-Vegetables">
      <div class="card-body">
        <a href="/cart/beansprots" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/beansprots">Details</a>
      </div>

    </article>

    <article class="card">
      <div class="card-title">
        <h4>Pok Choy</h4>
      </div>
      <img class="card-img-top" src="/img/Chinese Pok Choy.jpg" alt="Chinese Pok Choy-Vegetables">
      <div class="card-body">
        <div class="card-body">
          <a href="/cart/pokchoy" type="button" class="btn btn-secondary"> Add to Cart ></a>
          <a href="all-products/pokchoy">Details</a>
        </div>

    </article>

    <article class="card">
      <div class="card-title">
        <h4>Chives</h4>
      </div>
      <img class="card-img-top" src="/img/Chives.jpg" alt="Chives-Vegetables">
      <div class="card-body">
        <a href="/cart/chives" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/chives">Details</a>
      </div>
    </article>

  </div>

  <div class="card-deck">

    <article class="card">
      <div class="card-title">
        <h4>Cucumber</h4>
      </div>
      <img class="card-img-top" src="/img/Cucumber.jpg" alt="Cucumber-Vegetables">
      <div class="card-body">
        <a href="/cart/cucumber" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/cucumber">Details</a>
      </div>

    </article>

    <article class="card">
      <div class="card-title">
        <h4>Lettuce</h4>
      </div>
      <img class="card-img-top" src="/img/Lettuce.jpeg" alt="Lettuce-Vegetables">
      <div class="card-body">
        <a href="/cart/lettuce" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/lettuce">Details</a>
      </div>
    </article>

    <article class="card">
      <div class="card-title">
        <h4>Potato</h4>
      </div>
      <img class="card-img-top" src="/img/Potato.jpg" alt="Potato-Vegetables">
      <div class="card-body">
        <a href="/cart/potato" type="button" class="btn btn-secondary"> Add to Cart ></a>
        <a href="all-products/potato">Details</a>
      </div>
    </article>
  </div>


</section>

<%- include('partials/footer') %>
